body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4b7afd;
    position: static;
}
.container{
    background-color: rgba(0, 0, 0, 0.363);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:80px;
    border-radius:15px;
    color:#fff;
    width: 50%;
    height: 50%;
    align-content: center;
    text-align: center;
    border: 1px solid yellow;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
input{
    padding:15px;
    border:none;
    padding:13px;
    width: 50%;
    border-radius: 10px;
}
button{
    background-color: dodgerblue;
    border:none;
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    font-weight: bold;
    cursor:pointer;
    color:white;
    font-size: 20px;
}
button:hover{
    background-color: deepskyblue;
}
h1{
    top:50%;
    text-align: center;
    font-family: serifa bt;
}
label{
    font-size: 20px;
}
.error-message {
color: #ff0000; 
font-weight: bold; 
font-size: 16px; 
background-color: #ffbdbd;
border-radius: 10px;
height: 30px;
text-align: center;
line-height: 30px;
border:solid 1.5px rgb(255, 1, 1);
position: absolute;
left:40.5%;
width: 20%;
}
.logo{
    position: absolute;
    left:36.5%;
    opacity: 0.2;
    transform: scale(1.1);
    /* Opcional: Adicionando uma transição suave ao zoom */
    transition: transform 0.5s ease;
    z-index: -1;
    margin: 12% auto;
  }