{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar compra+</title>
    <link rel="stylesheet" href="{% static 'compras/css/registrar_compra.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    
    <div class="container">
        <form method="post" action="{% url 'AdicionarItem' %}">
            {% csrf_token %}
            {%if aviso%}
                <div id="aviso" class="aviso">
                    <div class="aviso-content">
                    Compra feita com sucesso!<br>
                    Colaborador:{{colaborador}}<br>
                    Total da compra: R$ {{total}}<br>
                    Gastos da última referência:R$ {{ultima_ref}}<br>
                    Gastos nesse mês: R${{mensal}}
                </div>
                </div>
            {%endif%}


            {%if aviso2%}
            <div id="aviso" class="aviso">
                <div class="aviso-content">
                Confira seus gastos!<br><br><br>
                Colaborador:{{colaborador}}<br>
                Gastos da última referência: R${{ultima_ref}}<br>
                Gastos nesse mês: R${{mensal}}
                </div>
            </div>
            {%endif%}
            
            <h1>-COMPRAS- </h1>
                {% if itens %}
                <div class="tabela-scroll">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Preço</th>
                            <th scope="col">-</th>
                        </tr>
                        </thead>
                        {% for item in itens %}
                        <tbody>
                            <tr>
                                <td>{{item.produto}}</td>
                                <td>R$ {{item.preco}}</td>
                                <td id="excluir"><a href="{% url 'DeletarItem' id=item.id %}">
                                    <img src="https://cdn-icons-png.flaticon.com/512/860/860829.png" style="width:20px;height: 20px;">
                                </a>
                                </td>
                        {%endfor%}
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <h4 class="total">Total:{{totalCarrinho}}</h4>
                    <a href="{% url 'ComecarCompra' %}"><button class="esvaziar" type="button">Esvaziar carrinho</button></a> <br><br>
                {%else%}
                <li>Nenhum item na lista</li><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                {%endif%}

            <label for="valores[]">Código de barras:</label><br><br>
            <input class="adicionar" type="text" name="valores[]" placeholder="Digite o código de barras" id="item" required>
  
            <button class="botao-adicionar" type="submit">Adicionar</button><br>
            {% if messages %}
            {% for message in messages %}
                {% if message.tags != 'success'%}
                        <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4>
                {%endif%}
            {% endfor %}
        {%endif%} 
          </form>

          <br>
          {%if itens%}
          <button id="meuBotao" onclick="exibir_modal_finalizar()">Finalizar Compra</button><br><br>
          {%endif%}
          <div id="modal-finalizar" class="modal">
            <div class="modal-content">
              <span class="fechar" onclick="fechar_modal_finalizar()">&times;</span>
              
                    <form method="post" action="{% url 'RegistrarCompra' %}">
                        {% csrf_token %}
                        <h1 style="color: #f2f2f2;">Registrar compra</h1>
                        <label for="login">Login do colaborador:</label><br><br>
                        <input type="text" name="login" placeholder="Digite o seu nome de usuário:" id="login"><br><br>
                        <label for="senha">Senha:</label><br><br>
                        <input type="password" name="senha" placeholder="Digite a senha:" id="senha" style="flex:1;padding-right: 8%;">
                        <i class="toggle-password fas fa-eye" id="mostrar-senha" style="position: absolute;left: 72%;color:black;margin-top:-3.8%;" onclick="togglePasswordVisibility('senha')"></i>
                        <br><br>

                        {% if messages %}
                            {% for message in messages %}
                                {% if message.message == 'Login inválido!!'%}
                                <h4{% if message.tags %} class="error-message" id ="error-mensagem-finalizar" {% endif %}>Login inválido!</h4>
                                <script>
                                    window.onload = function() {
                                    exibir_modal_finalizar();
                                    };
                                </script>
                                {%endif%}
                            {% endfor %}
                        {%endif%} 
                        <button class="finalizar" type="submit">Registrar compra</button>
                    </form> <br><br>
            </div>
          </div>




          <button class="finalizar" type="submit" onclick="exibir_modal_gastos()">Conferir meus gastos</button>
          <div id="modal-gastos" class="modal">
            <div class="modal-content">
              <span class="fechar" onclick="fechar_modal_gastos()">&times;</span>
              
                    <form method="post" action="{% url 'ConferirGastos' %}">
                        {% csrf_token %}
                        <h1 style="color: #f2f2f2;">Conferir meus gastos</h1>

                        <label for="login">Login do colaborador:</label><br><br>
                        <input type="text" name="login" placeholder="Digite o seu nome de usuário:" id="login"><br><br>

                        <label for="senha">Senha:</label><br><br>
                        <input type="password" placeholder="Senha:" class="form-control" name="senha" id="senha2" value="{{senha}}" style="flex:1;padding-right: 9%" required>
                        <i class="toggle-password fas fa-eye" id="mostrar-senha" style="position: absolute;left: 72.5%;color:black;margin-top: -3.8%;" onclick="togglePasswordVisibility('senha2')"></i>
                        <br><br>

                        {% if messages %}
                            {% for message in messages %}
                                {% if message.message == 'Login inválido!'%}
                                <h4{% if message.tags %} class="error-message" id ="error-mensagem-dados" {% endif %}>{{message}}</h4>
                                <script>
                                    window.onload = function() {
                                    exibir_modal_gastos();
                                    };
                                </script>
                                {%endif%}
                            {% endfor %}
                        {%endif%} 
                        <button class="finalizar" type="submit">Conferir</button>
                    </form> <br><br>
            </div>
          </div>


          <br><br>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>



    <script>
        $(document).ready(function () {
                    $('#item').inputmask('999-999999-999');
                });

     document.addEventListener('keydown', function(event) {
        if ((event.key === 'F5' || event.keyCode === 116) && (event.ctrlKey || event.metaKey)) {        // Redirecionar para a URL desejada
        window.location.href = "{% url 'ComecarCompra' %}";
        event.preventDefault(); // Impede o comportamento padrão (recarregar a página)
      }
    });
    document.addEventListener('DOMContentLoaded', function() {
        var mensagem = document.getElementById('error-mensagem-finalizar');
        mensagem.style.display = 'block';
            
        setTimeout(function() {
            mensagem.style.display = 'none';
        }, 3000);
        });

    document.addEventListener('DOMContentLoaded', function() {
        var mensagem = document.getElementById('error-mensagem-dados');
        mensagem.style.display = 'block';
            
        setTimeout(function() {
            mensagem.style.display = 'none';
        }, 3000);
        });

        document.addEventListener('DOMContentLoaded', function() {
        var mensagem = document.getElementById('error-mensagem');
        mensagem.style.display = 'block';
            
        setTimeout(function() {
            mensagem.style.display = 'none';
        }, 3000);
        });


        document.addEventListener('DOMContentLoaded', function() {
        var aviso = document.getElementById('aviso');
        aviso.style.display = 'block';

        setTimeout(function() {
            aviso.style.display = 'none';
            window.location.href = "{% url 'Carrinho' %}";
        }, 5000);
        });

        function exibir_modal_finalizar() {
        var modal = document.getElementById("modal-finalizar");
        modal.style.display = "block";

        }

        function fechar_modal_finalizar() {
        var modal = document.getElementById("modal-finalizar");
        modal.style.display = "none";
        }
        function exibir_modal_gastos() {
        var modal = document.getElementById("modal-gastos");
        modal.style.display = "block";

        }

        function fechar_modal_gastos() {
        var modal = document.getElementById("modal-gastos");
        modal.style.display = "none";
        }

        function togglePasswordVisibility(inputId) {
      var input = document.getElementById(inputId);
      var icon = document.querySelector(`#${inputId} + i`);

      if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
      } else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
      }
    }
        
    </script>
</body>

</html>