body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4b7afd;
}
div.container{
    background-color: rgba(255, 255, 250, 0.801);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:80px;
    border-radius:15px;
    color:#fff;
    height: 80%;
    width: 80%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
div td{
    vertical-align: top;
}
input{
    padding:15px;
    border:none;
    padding:13px;
    width: 90%;
    border-radius: 10px;
    align-items: center;
}
button{
    background-color: dodgerblue;
    border:none;
    padding: 15px;
    width: 40%;
    border-radius: 10px;
    cursor:pointer;
    font-weight: bold;
    height: 46px;
    font-size: larger;
    vertical-align: middle;
    align-items: center;
}
.finalizar{
    width: 25%;
    margin-left: -8%;
    top:74.5%;
    position: absolute;
}
.conferir-gastos{
    background-color: #ffffff;
    color:#002ba1;
    width: 25%;
    border:3px solid #002ba1;
    align-content: center;
    position: fixed;
    top:82%;
    left: 4.8%;
}
.conferir-gastos:hover{
    background-color: rgb(254, 255, 215);
    color:black
}
button:hover{
    background-color: rgb(0, 97, 129);
    color:#ddd;

}
h1{
    top:50%;
    text-align: center;
}

table,th,td{
border-collapse: collapse;
text-align: center;
overflow: auto;
width: 100%;
top:50%
}
table{
    border:1px solid yellow;
    border-radius: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
}

td,th{
padding: 10px;
background-color: aliceblue;
color:black;
width: 60%;
}
th{
background-color: darkblue;
color:aliceblue
}
.aviso {
background-color: rgba(202, 202, 202, 0.363);
display: none;
color:black;
height: 220%;
width: 220%;
z-index: 1;
border-radius: 10px;
top:0;
left:-20%;
position: absolute;
justify-content: center;
}
.aviso-content{
display: flex;
padding: 10;
justify-content: center;
align-items: center;
text-align: center;
border: solid 3px rgb(0, 0, 0);
background-color: #001883;
color:rgb(255, 255, 255);
width: 15%;
height: 10%;
margin:10% 24%;
border-radius: 4px;
font-weight: 900;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
font-size: x-large;
    }
    .logo{
        position: absolute;
        z-index: -1;
        opacity: 0.3;
        transform: scale(1.1);
        /* Opcional: Adicionando uma transição suave ao zoom */
        z-index: -1;
        top: 16%;
        left:34%
    }

.esvaziar {
background-color: white;
color:#002ba1;
width: 20%;
position: relative;
top:48%;
left:80%;
transform: translate(-0%,-135%);
border:1px solid black
}

.esvaziar::before {
    content: '';
    position: absolute;
    top: -5px; /* Ajuste a distância da borda interna em relação à borda externa */
    left: -5px; /* Ajuste a distância da borda interna em relação à borda externa */
    right: -5px; /* Ajuste a distância da borda interna em relação à borda externa */
    bottom: -5px; /* Ajuste a distância da borda interna em relação à borda externa */
    border: 2px solid #002ba1; /* Define a borda interna com a cor desejada */
    border-radius: 15px;
  }

.esvaziar:hover{
background: rgb(81, 82, 0);
color: #ddd;
}
.error-message {
color: #ff0000; 
font-weight: bold; 
font-size: 16px; 
background-color: #ffbdbd;
border-radius: 10px;
height: 30px;
text-align: center;
line-height: 30px;
border:solid 1.5px rgb(255, 1, 1);
position: absolute;
width: 30%;
}
div.modal {
display: none;
z-index: 1;
left: 50%;
top: 50%;
width: 120%;
transform: translate(-50%,-50%);
height: 110%;
text-align: center;
background-color: rgba(12, 12, 12, 0.952); 
position: absolute;
border-radius: 30px;
}

div.modal-content {
margin: 10% auto;
padding: 20px;
border: 1px solid #888;
width: 50%;
}

.fechar {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.fechar:hover,
.fechar:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.total{
color: rgb(0, 0, 41); 
font-weight: bold; 
font-size: 16px; 
background-color: #ffffff;
border-radius: 13px;
height: 7%;
width: 20%;
text-align: center;
border:solid 1.5px rgba(0, 0, 42, 0.5);
position: relative;
left: 39%;
line-height: 1.5;
font-size: x-large;
top:10%
}
td {
    border-bottom: 1px solid black; /* Adiciona uma borda inferior em todas as células, exceto na última linha */
}
.tabela-scroll {
overflow: auto;
height: 400.7px;
display: flex;
align-items: flex-start;
border-collapse: collapse;
margin-top: 8%;
}

.area-adicionar .adicionar{
width: 190%;
margin: 20% 180%;
}


.area-adicionar .botao-adicionar{
width: 70%;
height: 46px;
top:30%;
left:390%;
position: absolute;
}

.area-adicionar{
    position: absolute;
    top:13%
}
.finalizar,
.esvaziar,
.conferir-gastos,
.botao-adicionar ,
.conferir-gastos-modal,
.finalizar-modal{
  display: block; /* Altera a exibição para bloco */
  margin: 0 auto; /* Define margens automáticas para centralização horizontal */
  text-align: center; /* Centraliza o texto dentro do botão */
  line-height: 10px; /* Define a altura da linha para centralizar verticalmente o texto */
}
.modal-content label{
    font-size: 20px;
}
