*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .container{
        background-color: rgba(0, 0, 0, 0.8);
        padding:50px;
        border-radius:15px;
        width: 90%;
        margin:auto;
        margin-top:2%;
        text-align: center;
    }
    body {
        background-color: #b0bfff;
        margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; 
  }
    table,th,td{
        border: 0.5px solid rgb(97, 97, 97);
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
    }
    td,th{
        padding: 2px;
        background-color: rgb(243, 243, 243);
        text-align: left;
        font-size:large;
        height: 4px;
        width: 25%;
  
      }
      th:nth-child(4), td:nth-child(4) {
              width: 15%;
              text-align: center;
          }
  
      th:last-child, td:last-child {
              width: 30%;
              text-align: center;
          }
      td .situation-dot.active {
      background-color: green;
      border-color: green;
    }
  
  
    td .situation-dot.inactive {
      background-color: red;
      border-color: red;
    }
    .situation-dot {
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
      }
    button{
        background-color: dodgerblue;
        border:none;
        padding: 15px;
        width: 100%;
        border-radius: 10px;
        font-weight: bold;
        cursor:pointer;
        color:white
    }
    th{
        background-color: darkblue;
        color:white;
        border-radius: 5px;
        text-align: center;
    }
    h1{
        color:white;
        text-align: center;
    }
  
  .search-form {
      align-items: center; /* Alinhar verticalmente os elementos filhos */
    }
  
    .search-form input[type="text"] {
      padding: 8px; /* Espaçamento interno do campo de entrada */
      font-size: 14px; /* Tamanho da fonte do campo de entrada */
      border: 1px solid #ccc; /* Borda do campo de entrada */
      border-radius: 4px; /* Borda arredondada do campo de entrada */
    }
  
    .search-form input[type="submit"] {
      background-color: rgb(11, 133, 255); /* Cor de fundo do botão de envio */
      color: white; /* Cor do texto do botão de envio */
      padding: 8px 16px; /* Espaçamento interno do botão de envio */
      border: none; /* Remover borda do botão de envio */
      border-radius: 4px; /* Borda arredondada do botão de envio */
      cursor: pointer; /* Cursor do mouse em formato de mão */
      font-weight: bold;
      color:white
    }
  
    .search-form input[type="submit"]:hover {
      background-color: deepskyblue; /* Cor de fundo do botão de envio */
      color:black
    }
    .tabela-scroll{
      overflow: auto;
      height: 500px;
    }
    div.modal {
    display: none;
    z-index: 999;
    left: 5%;
    top: 55%;
    width: 90%;
    transform: translate(0%,-54%);
    height: 90%;
    text-align: center;
    background-color: rgba(30, 27, 53, 0.986); 
    position: absolute;
    border-radius: 15px;
    color:azure
  }
  
  div.modal-content {
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
    background-color: #e8ecff;
    color:black;
    height: 96%;
  }
  .fechar {
    color: #2c2c2c;
    float: right;
    font-size: 28px;
    font-weight: bold;
  
  }
  
  .fechar:hover,
  .fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  input{
          padding:15px;
          border:none;
          padding:13px;
          width: 90%;
          border-radius: 10px;
      }
  
      button:hover{
          background-color: deepskyblue;
          color:black
      }
      h1{
          top:50%;
          text-align: center;
      }
  
      #barra_de_pesquisa{
        width: 50%;
        right:14%;
        position: relative;
      }
      #botao_pesquisa{
        position: relative;
        right:12%;
        width: 20%;
        height: 15%;
      }
      .error-message {
      color: #ff0000; 
      font-weight: bold; 
      font-size: 20px; 
      background-color: #ffbdbd;
      border-radius: 10px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border:solid 1.5px rgb(255, 1, 1);
      position: absolute;
      left:44%;
      top:79%
      }
      img{
        height: 40px;
        width: 40px;
        cursor:pointer
      }
      .tabela-corpo {
        height: calc(100% - 30px); /* Subtraia a altura do cabeçalho da tabela (40px) */
        overflow-y: scroll;
  }
  .modal-entrada {
    animation-name: modalEntrada;
    animation-duration: 0.5s;
  }
  .modal-entrada-dados {
    animation-name: modalEntrada-dados;
    animation-duration: 0.5s;
  }
  .mostrar-senha{
      position: absolute;
      left:72%;
      top:60.5%;
  }
  .cadastrar{
    position:relative;
  }
  .mostrar-senha-confirmacao{
    position: absolute;
      left:72%;
      top:71.9%;
  }

      /* Define a fonte agradável */
.paginator {
    font-family: "Arial", sans-serif;
    position: absolute;
    top:81%
  }
  
  /* Estiliza as tags <a> e <span> na navegação */
  .page-link {
    padding: 5px 10px;
    margin: 3px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: blue;
    background-color: white;
    border-radius: 5px;
  }
  
  /* Estilo para o link "Primeira" */
  .page-first,
  .page-last {
    border-radius: 5px;
  }
  
  /* Estilo para o link "Próxima" */
  .page-next,
  .page-previous {
    border-radius: 5px;
  }
  
  /* Estilo para o link da página atual */
  #pagina_atual {
    background-color: rgb(219, 219, 219);
    color: blue;
    border-radius: 5px;
    border:1px solid blue
  }
  .search-button2{
    position: absolute;
    top:23.8%;
    left:70%;
    width: 10%;
    background-color: rgb(0, 122, 163);
  }
  
  @keyframes modalEntrada {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(-54%);
    }
  }
  
  @keyframes modalEntrada-dados {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }