{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'usuarios/css/listar_usuario.css'%}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Listar usuários</title>

</head>
<body>
  {% include 'navbar.html' %}

    <div class="container">
        <h1>Usuários</h1><br><br><br>

      <div class="search-form">
          <form action="{% url 'FiltrarUser' %}" method="get">
              <div class="search-container">
                  <input type="text" name="search" placeholder="Pesquisar" id="barra_de_pesquisa" class="search-input" required>
                  <input type="submit" value="Filtrar" class="search-button" id="botao_pesquisa">
              </div>
          </form>
          {% if filtro %}
          <a href="{% url 'VoltarUsuarios'%}"><input type="submit" value="Desfazer filtro" class="search-button2"></a>
          {%endif%}
      </div>
      <br><br>
      <div class="tabela-scroll">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Username</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
              {% for i in usuarios %}
            <tr>
              <td>{{i.id}}</td>
              <td>{{i.first_name}}</td>
              <td>{{i.email}}</td>
              <td>{{i.username}}</td>
              <td><a href="{% url 'EditarUser' id=i.id%}"><img src="https://thumbs2.imgbox.com/ce/70/GXNBIaJY_t.png"/></a></td>
            </tr>
            {%endfor%}

          </tbody>
        </table>
      </div>
        
        <br><br>
        <button onclick="exibirModalAdicionar()">Adicionar usuário +</button>
      
        <nav aria-label="Page navigation" class="paginator">
          <ul class="pagination-justify-content-center">
            {% if usuarios.has_previous %}
              <a class="page-link" href="?page=1">Primeira</a>
              <a class="page-link" href="?page={{ usuarios.previous_page_number }}">Anterior</a>
            {% endif %}
        
            {% for num in usuarios.paginator.page_range %}
              {% if num == usuarios.number %}
                  <span class="page-link"  id="pagina_atual">{{ num }}</span>
                
              {% else %}
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
        
            {% if usuarios.has_next %}
              <a class="page-link" href="?page={{ usuarios.next_page_number }}">>></a>
              <a class="page-link" href="?page={{ usuarios.paginator.num_pages }}">Última</a>
            {% endif %}
          </ul>
        </nav>
    </div>

    <div id="modal-adicionar" class="modal">
      <div class="modal-content" id="modal-content">
        <span class="fechar" onclick="fecharModalAdicionar()">&times;</span>
        <form method="post" action="{% url 'CadastrarUser'%}">
          {% csrf_token %}
          <h1 style="color:black">Cadastro </h1><br>

          <label for="nome">Nome:</label><br><br>
          <input type="text" name="nome" placeholder="Digite o nome completo:" id="nome" value="{{nome}}" required><br><br>

          <label for="username">Nome de usuário:</label><br><br>
          <input type="text" name="username" placeholder="Digite o nome de usuário:" id="username" value="{{username}}" required><br><br>

          <label for="email">Email:</label><br><br>
          <input type="email" name="email" placeholder="Digite o email do usuário" id="email" value="{{email}}" required><br><br>


          <label for="senha">Senha:</label><br><br>
          <div class="password-input">
            <input type="password" placeholder="Senha:" class="form-control" name="senha" id="senha" value="{{senha}}" style="flex:1;padding-right: 4%" required>
            <i class="toggle-password fas fa-eye" id="mostrar-senha" style="position: absolute;margin-top:0.8%;left: 70%;" onclick="togglePasswordVisibility('senha')"></i>
          </div><br>
        
          <label for="confirmacao">Confirme a senha:</label><br><br>
          <div class="password-input">
            <input type="password" placeholder="Digite a senha novamente:" class="form-control" name="confirmacao"
              id="confirmacao" value="{{confirmacao}}" style="flex:1;padding-right: 4%" required>
            <i class="toggle-password fas fa-eye" style="position: absolute; left:70%; margin-top: 0.8%;" id="mostrar-confirmacao" onclick="togglePasswordVisibility('confirmacao')"></i>
          </div><br><br><br>
          {% if messages %}
            <script>
              window.onload = function() {
              exibirModalAdicionar();
              };
          </script>
            {% for message in messages %}
                <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4><br>
            {% endfor %}
          {%endif%}
          <button type="submit">Cadastrar usuário</button><br><br>
        </form>
      </div>
    </div>



    <script>
        function exibirModalAdicionar() {
        var modal = document.getElementById("modal-adicionar");
        modal.style.display = "block";
        var content = document.getElementById("modal-content")
        content.classList.add("modal-entrada");


        }

        function fecharModalAdicionar() {
        var modal = document.getElementById("modal-adicionar");
        modal.style.display = "none";
        window.location.href = "{% url 'VoltarUsuarios'%}"
        }
        
        document.addEventListener('DOMContentLoaded', function() {
        var erro = document.getElementById('error-mensagem');
        erro.style.display = 'block';

        setTimeout(function() {
            erro.style.display = 'none';
        }, 3000);
        });

        function togglePasswordVisibility(inputId) {
      var input = document.getElementById(inputId);
      var icon = document.querySelector(`#${inputId} + i`);

      if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
      } else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
      }
    }
    </script>
</body>
</html>