{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form method="post" action="{% url 'Login' %}">
            {% csrf_token %}
            <h1>
                Bem vindo à<br>Conveninência 2.0!<br>
            </h1><br><br>
            <label for="username">Nome de usuário:</label><br><br>
            <input type="text" placeholder="Digite seu username:" id="username" name="username" value="{{username}}" required><br><br>
    
            <label for="password">Senha:</label><br><br>

                <input type="password" placeholder="Digite sua senha:" class="form-control" name="senha" id="senha" value="{{senha}}" style="flex:1;padding-right: 4%;width: 88%;" required>
                <i class="toggle-password fas fa-eye" id="mostrar-senha" style="position: absolute;margin-top:1.2%;left: 87.5%; color:black" onclick="togglePasswordVisibility('senha')"></i>

            {% if messages %}
                {% for message in messages %}
                <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4>
                {% endfor %}
            {%endif%}
            <br><br><br><br><br><br><br>
            <button type="submit">Entrar</button>
        </form>


    
    
    </div>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
        var erro = document.getElementById('error-mensagem');
        erro.style.display = 'block';

        setTimeout(function() {
            erro.style.display = 'none';
        }, 3000);
        });

        function togglePasswordVisibility(inputId) {
      var input = document.getElementById(inputId);
      var icon = document.querySelector(`#${inputId} + i`);

      if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
      } else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
      }
    }
        

        </script>
</body>
</html>