{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estoque/css/estoque.css'%}">
    <title>Estoque</title>

</head>
<body>

  {% include 'navbar.html' %}

    <div class="container">
        <h1>Estoque</h1><br><br><br>

        

        <div class="search-form">
          <form action="{% url 'FiltrarEstoque' %}" method="get">
              <div class="search-container">
                  <input type="text" name="search" placeholder="Pesquisar" id="barra_de_pesquisa" class="search-input">
                  <input type="submit" value="Filtrar" class="search-button" id="botao_pesquisa">
              </div>
          </form>
          {% if filtro %}
            <a href="{% url 'VoltarEstoque'%}"><input type="submit" value="Desfazer filtro" class="search-button2"></a>
          {%endif%}
      </div>
      <br><br>
      <div class="tabela-scroll">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Quantidade</th>
            </tr>
          </thead>
        </table>
        <div class="tabela-corpo">
          <table class="table table-hover">
          <tbody>
              {% for produto in estoque %}
            <tr>
              <td>{{produto.produto.nome}}</td>
              <td>{{produto.quantidade}}</td>
            </tr>
            {%endfor%}

          </tbody>
        </table>
        </div>
      </div>
      <nav aria-label="Page navigation" class="paginator">
        <ul class="pagination-justify-content-center">
          {% if estoque.has_previous %}
            <a class="page-link" href="?page=1">Primeira</a>
            <a class="page-link" href="?page={{ estoque.previous_page_number }}">Anterior</a>
          {% endif %}
      
          {% for num in estoque.paginator.page_range %}
            {% if num == estoque.number %}
                <span class="page-link"  id="pagina_atual">{{ num }}</span>
              
            {% else %}
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}
      
          {% if estoque.has_next %}
            <a class="page-link" href="?page={{ estoque.next_page_number }}">>></a>
            <a class="page-link" href="?page={{ estoque.paginator.num_pages }}">Última</a>
          {% endif %}
        </ul>
      </nav>
      <br><br><br>
      <button class="adicionar-entrada" type="button" onclick="exibirModalEntrada()" data-value="{{ produto.produto }}">Adicionar+<br>entrada</button>  
      <button class="adicionar-baixa" type="button" onclick="exibirModalBaixa()" data-value="{{ produto.produto }}">Adicionar+<br>baixa</button>
        <br><br>
    </div>
    <div id="modalEntrada" class="modal">
      <div class="modal-content">
        <span class="fechar" onclick="fecharModalEntrada()">&times;</span>
        
        <form id="meuFormulario" action="{% url 'AdicionarEntrada' %}" method="post">
          {% csrf_token %}
          <h1 style="color:black">Entrada</h1>
          <br><br>
          <label for="produto">Produto:</label><br>
          <select name="produto" id="produto" required>
                      <option disabled selected >--Selecione um produto--</option>
                      {% for item in estoque %}
                        <option value="{{item.produto.id}}">{{item.produto.nome}}</option>
                      {%endfor%}
          </select><br><br>

          <label for="quantidade">Digite a quantidade:</label><br><br>
          <input type="number" min="1" placeholder="Quantidade:" name="quantidade" id="quantidade" value="{{quantidade}}" required><br><br><br>

                  {% if messages %}
                  {% for message in messages %}
                      {% if message.message == 'Escolha um produto!'%}
                      <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4>
                      <script>
                          window.onload = function() {
                          exibirModalEntrada();
                          };
                      </script>
                      {%endif%}
                  {% endfor %}
              {%endif%}
          <br><br><br><br>
          <button type="submit">Atualizar</button>   
      </form>



      </div>
    </div>

    <div id="modalBaixa" class="modal">
      <div class="modal-content">
        <span class="fechar" onclick="fecharModalBaixa()">&times;</span>
        
        <form id="meuFormulario2" action="{% url 'BaixarEstoque'%}" method="post" >
          {% csrf_token %}
          <h1 style="color:black">Baixa</h1>
          <br><br>
          <label for="produto">Produto:</label><br>
          <select name="produto" id="produto" required >
                      <option disabled selected >--Selecione um produto--</option>
                      {% for item in estoque %}
                        <option value="{{item.produto.id}}">{{item.produto.nome}}</option>
                      {%endfor%}
          </select><br><br>

          <label for="quantidade">Digite a quantidade:</label><br><br>
          <input type="number" min="1" placeholder="Quantidade:" name="quantidade" id="quantidade" value="{{quantidade}}" required><br><br><br>

          {% if messages %}
          {% for message in messages %}
              {% if message.message == 'Selecione um produto!'%}
              <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4>
              <script>
                  window.onload = function() {
                  exibirModalBaixa();
                  };
              </script>
              {%elif message.message == 'A quantidade da baixa é maior do que a atual no estoque!'%}
              <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4>
              <script>
                  window.onload = function() {
                  exibirModalBaixa();
                  };
              </script>
              {%endif%}
          {% endfor %}
      {%endif%}
          <br><br><br><br>
          <button type="submit">Atualizar</button>   
      </form>



      </div>
    </div>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var erro = document.getElementById('error-mensagem');
        erro.style.display = 'block';

        setTimeout(function() {
            erro.style.display = 'none';
        }, 3000);
        });

          function exibirModalEntrada() {
            var modal = document.getElementById("modalEntrada");
            modal.style.display = "block";
          }

        function fecharModalEntrada() {
          var modal = document.getElementById("modalEntrada");
          modal.style.display = "none";
          window.location.href = "{% url 'ListarEstoque'%}";
        }

        function exibirModalBaixa() {
          var modal = document.getElementById("modalBaixa");
          modal.style.display = "block";
          }

        function fecharModalBaixa() {
        var modal = document.getElementById("modalBaixa");
        modal.style.display = "none";
        window.location.href = "{% url 'ListarEstoque'%}";
        }
    </script>
</body>
</html>