{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estoque/css/movimentacoes.css'%}">
    <title>Movimentações</title>


</head>
<body>

  {% include 'navbar.html' %}

    <div class="container">
        <h1 style="margin-top:3%;z-index: 11;">MOVIMENTAÇÕES</h1><br><br><br>

  
        <br>
        <div class="search-form" style="margin-top:2%;">
          <form action="{% url 'FiltrarMovimentacoes' %}" method="get">
              <div class="search-container-principal">
                  <h2  class="label-filtro">Filtrar por:</h2><br>
                  <select name="filtro" id="filtro" required>
                    <option disabled selected >--Selecione um filtro--</option>
                      <option value="data" onclick="exibirModalData()">Data</option>
                      <option value="data" onclick="exibirModalUsuario()">Usuário</option>
                      <option value="data" onclick="exibirModalTipo()">Tipo</option>
                  </select>
              </div>
          </form>
          {% if filtro %}
          <a href="{% url 'VoltarMovimentacoes'%}"><input type="submit" value="Desfazer filtro" class="search-button2"></a>
          {%endif%}
      </div>
      <br><br>
      <div class="tabela-scroll">
        <table class="table table-hover">

          <thead class="thead-light">
            <tr>
              <th scope="col">PRODUTO</th>
              <th scope="col">QUANTIDADE</th>
              <th scope="col">DATA</th>
              <th scope="col">TIPO</th>
              <th scope="col">USUÁRIO</th>
            </tr>
          </thead>
        </table>
        <div class="tabela-corpo">
          <table class="table table-hover">

          <tbody>
              {% for item in movimentacoes %}
            <tr>
              {% if item.produto.nome|length > 35%}
              <td style="padding-right: 2%;text-align: left;">{{item.produto.nome|slice:":36"}}...</td>
              {%else%}
              <td style="padding-right: 2%;text-align: left;">{{item.produto.nome}}</td>
              {%endif%}
              <td style="text-align: center;">{{item.quantidade}}</td>
              <td>{{item.data}}</td>    
              <td>{{item.tipo}}</td>
              <td style="text-align: left;padding-left: 1%;">{{item.usuario.username}}</td>
            </tr>
            {%endfor%}

          </tbody>
        </table>
        </div>
        {% if movimentacoes.paginator.num_pages > 1%}
        <nav aria-label="Page navigation" class="paginator" style="top:93.1%">
          <ul class="pagination-justify-content-center">
            {% if movimentacoes.has_previous %}
              <a class="page-link" href="?page=1">Primeira</a>
              <a class="page-link" href="?page={{ movimentacoes.previous_page_number }}">Anterior</a>
            {% endif %}
        
            {% for num in movimentacoes.paginator.page_range %}
              {% if num == movimentacoes.number %}
                  <span class="page-link"  id="pagina_atual">{{ num }}</span>
                
              {% else %}
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
        
            {% if movimentacoes.has_next %}
              <a class="page-link" href="?page={{ movimentacoes.next_page_number }}">>></a>
              <a class="page-link" href="?page={{ movimentacoes.paginator.num_pages }}">Última</a>
            {% endif %}
          </ul>
        </nav>
        {%endif%}
      </div>

        <div id="modal-data" class="modal">
          <div class="modal-content">
            <span class="fechar" onclick="fecharModalData()">&times;</span>



              <div class="search-form">
                <form action="{% url 'FiltrarMovimentacoes' %}" method="get">
                    <div class="search-container">
                      <br><br>
                      <label for="data_inicio">Data de início:</label><br>
                      <input type="date" placeholder="Digite uma data:" name="data_inicio" required><br><br><br><br><br>
                      <label for="data_final">Data final:</label><br>
                      <input type="date" name="data_final" required><br><br><br><br><br>
                      <input type="submit" value="Filtrar" class="search-button" id="botao_pesquisa" style="position: relative;left:0%;font-size: large;">
                      <br><br>
                    </div>
                </form> 
                {% if messages %}
                {% for message in messages %}
                    <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %} style="margin: -14%; left:44%">{{message}}</h4>
                    <script>
                        window.onload = function() {
                          exibirModalData();
                        };
                    </script>
                {% endfor %}
            {%endif%}
              </div>   
          </div>
        </div>

        <div id="modal-usuario" class="modal">
          <div class="modal-content">
              <span class="fechar" onclick="fecharModalUsuario()">&times;</span>
            <div class="search-form">
              <form action="{% url 'FiltrarMovimentacoes' %}" method="get">
                <div class="search-container">
                  <br><br>
                  <label for="usuario" style="font-size: 30px;">Selecione o usuário:</label><br><br>
                  <select id="filtro" name="usuario" required>
                    <option value="" disabled selected>--Selecione um usuario--</option>
                        {% for usuario in usuarios%}
                        <option value="{{usuario.username}}" >{{usuario.username}}</option>
                        {%endfor%}
                  </select>


                  <br><br><br><br>
                  <button type="submit"class="search-button" id="botao_pesquisa" 
                  style="position: relative;left:0;font-size: large;color:#f9f9f9; height:50px">Filtrar</button>
                  <br><br>
                </div>
              </form>
            </div>
          </div>        
      </div>
  
    <div id="modal-tipo" class="modal">
      <div class="modal-content">
        <span class="fechar" onclick="fecharModalTipo()">&times;</span>
          <div class="search-form">
            <form action="{% url 'FiltrarMovimentacoes' %}" method="get">
              <br><br><br><br>
                  <button type="submit" value="Entrada" class="search-button" id="botao-tipo-entrada" name="botao_tipo">Entrada</button><br><br>
                  <button type="submit" value="Saída" class="search-button" id="botao-tipo-baixa" name="botao_tipo">Saída</button>
                  <br><br>
                </div>
            </form>
          </div>
      </div>
          <br><br>
    </div>


    <script>
        function exibirModalData() {
            var modal = document.getElementById("modal-data");
            modal.style.display = "block";
          }

          function fecharModalData() {
          var modal = document.getElementById("modal-data");
          modal.style.display = "none";
        }

        function desfazerFiltros(){
          window.location.href = "{% url 'VoltarMovimentacoes'%}"
        }
        function exibirModalUsuario (){
          var modal = document.getElementById("modal-usuario");
            modal.style.display = "block";
        }
        function fecharModalUsuario () {
          var modal = document.getElementById('modal-usuario');
          modal.style.display = 'none';
        }

        function exibirModalTipo () {
          var modal = document.getElementById('modal-tipo');
          modal.style.display = 'block';
        }
        function fecharModalTipo() {
          var modal = document.getElementById('modal-tipo');
          modal.style.display = 'none';
        }
        document.addEventListener('DOMContentLoaded', function() {
        var erro = document.getElementById('error-mensagem');
        erro.style.display = 'block';

        setTimeout(function() {
            erro.style.display = 'none';
        }, 3000);
        });
    </script>
</body>
</html>