{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'produtos/css/editar_produ.css'%}">
    <title>Adicionar produto</title>
    <style>


</style>

</head>
<body>
    
  {% include 'navbar.html' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <a href="{% url 'VoltarProdutos'%}"><i class="fas fa-arrow-left fa-2x" style="position: absolute; top: 18%; left: 6%; color: white;z-index: 2;cursor: pointer;"></i> </a> 

    <div class="container">
        <form method="post" action="{% url 'EditarProdu' id=id %}">
            {% csrf_token %}
            <h1>EDITAR <br>  {{nome}}</h1>
            <br><br>

            <label for="tipo">Tipo:</label><br>
            <select id="tipo" name="tipo" required value="{{tipo}}">
                        <option disabled selected >--Selecione um tipo--</option>
                        <option value="Alimento"{% if tipo == 'Alimento' %} selected{% endif %}>Alimento</option>
                        <option value="Ingresso"{% if tipo == 'Ingresso' %} selected{% endif %}>Ingresso</option>
                        <option value="Roupa"{% if tipo == 'Roupa' %} selected{% endif %}>Roupa</option>

            </select><br><br>

            <label for="nome">Nome do produto:</label><br>
            <input type="text" placeholder="Nome:" name="nome" id="nome" value="{{nome}}" required><br><br>

            <label for="cpf">Código de barras:</label><br>
            <input type="cod_barras" placeholder="cod_barras:" name="cod_barras" id="cod_barras" value ="{{cod_barras}}" required><br><br>
            {% if erroCod %}
            <h4 class="error-message">{{erroCod}}</h4><br><br>
            {%endif%}

            <label for="preco">Preço:</label><br>
            <input type="text" placeholder="Preço:" name="preco" id="preco" onkeypress="validarEntrada(event)" value="R$ {{preco}}" required><br><br>


            <label for="ativo">Ativo:</label>
            <input type="checkbox" id="ativo" name="ativo" placeholder="Ativo" {%if situacao%}checked{%endif%}><br><br>

            {% if messages %}
              {% for message in messages %}
              <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4><br><br>
              {% endfor %}
            {%endif%}
            <br><br><br>

            <button type="submit" style="color:white">Atualizar produto</button>   
        </form>

        <br><br><br>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

    <script>

    $(document).ready(function () {
          $('#cod_barras').inputmask('999-999999-999');
      });

      function validarEntrada(event) {
          var tecla = event.which || event.keyCode;
          if ((tecla < 48 || tecla > 57) && tecla != 46){
              event.preventDefault();
          }
      }
      document.addEventListener('DOMContentLoaded', function() {
        var erro = document.getElementById('error-mensagem');
        erro.style.display = 'block';

        setTimeout(function() {
            erro.style.display = 'none';
        }, 3000);
        });

        const inputPreco = document.getElementById('preco');

      function formatarPreco(input) {
            let valor = input.value.replace(/\D/g, '');
            if (valor.length >= 3) {
                valor = valor.replace(/^(\d{1,})(\d{2})$/, '$1,$2');
            }
            input.value = 'R$ ' + valor;
        }

        inputPreco.addEventListener('focus', () => {
            if (!inputPreco.value) {
                inputPreco.value = 'R$ ';
            }
            floatingSpanPreco.style.transform = 'translateY(-8px) scale(0.6)';
            floatingSpanPreco.style.color = '#000';
        });

        inputPreco.addEventListener('blur', () => {
            if (!inputPreco.value) {
                floatingSpanPreco.style.transform = 'translateY(20px)';
                floatingSpanPreco.style.color = '#888';
            } else if (inputPreco.value === 'R$ ') {
                inputPreco.value = '';
                floatingSpanPreco.style.transform = 'translateY(20px)';
                floatingSpanPreco.style.color = '#888';
            }
        });

        inputPreco.addEventListener('input', () => {
            formatarPreco(inputPreco);
        });
      
  </script>
</body>
</html>