{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'relatorios/css/relatorios.css'%}"> 
    <title>Relatórios</title>
    
</head>
<body>

  {% include 'navbar.html' %}

    <div class="container">
      <br><br><br><br>
        <form method="POST" action="{% url 'GerarRelatorio' %}">
            {% csrf_token %}
            <h1>Gerar relatório de compras:</h1><br><br>

            <label for="data_inicio" style="font-size: 150%;">Data de início:</label><br>
            <input type="date" placeholder="Digite uma data:" name="data_inicio"><br><br><br><br>
            <label for="data_final" style="font-size: 150%;">Data final:</label><br>
            <input type="date" name="data_final"><br>
            
            <label for="colaborador">Selecione um colaborador:</label>
            <select id="colaborador" name="colaborador"><br>
            <option value="" >  --Todos-- </option>
            {% for i in colaboradores%}
                    <option value="{{i.cpf}}">{{i.nome}}</option>
            {% endfor %}
            </select>
            <br><br><br><br>
            <button type="submit" placeholder='Enviar'> Gerar</button>
        </form>

    </div>


</body>
</html>

