{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'colab/css/editar_colab.css'%}">
    <title>Editar colaborador</title>
    
</head>
<body>

  {% include 'navbar.html' %}

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
          <a href="{% url 'VoltarColaboradores' %}"><i class="fas fa-arrow-left fa-2x" id="voltar" style="position: absolute; top: 13%; left: 6%; color: white;z-index: 2;cursor: pointer;"></i></a>


    <div class="container">
        <form method="post" action="{% url 'EditarColab' id=id %}">
            {% csrf_token %}
            <h1>EDITAR <i class="fas fa-pencil-alt"></i><br>  
                {{nome}}</h1><br><br>
            <label for="nome">Nome:</label><br>
            <input type="text" name="nome" placeholder="Digite o nome:" id="nome" value="{{nome}}" required><br><br>
            <label for="cpf">CPF:</label><br>
            <input type="text" name="cpf" placeholder="Digite o cpf:" id="cpf" value="{{cpf}}" oninput="formatarCPF()" maxlength="14" required><br><br>


            <label for="login">Login:</label><br>
            <input type="text" name="login" placeholder="Digite o username do colaborador:" id="login" value="{{login}}" required><br><br>

            <label for="ativo">Ativo:   </label>
            <input type="checkbox" id="ativo" name="ativo" placeholder="Ativo" {%if situacao == "Ativo"%}checked{%endif%}><br><br>

            <label for="email">Email:</label><br>
            <input type="email" placeholder="Email:" name="email" id="email" value="{{email}}" required><br><br>



            <a href="{% url 'RedefinirSenha' id=id %}"><button type="button" id="redefinir" class="redefinir"> Redefinir Senha</button></a><br><br>


            {% if messages %}
            {% for message in messages %}
            <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4><br><br>
            {% endfor %}
            {%endif%}
            

            <button type="submit">Atualizar colaborador</button><br><br>
          </form><br>


    </div>
    <script>
      function formatarCPF() {
      var cpf = document.getElementById("cpf");
      var cpf_mod = cpf.value;
  
      cpf_mod = cpf_mod.replace(/\D/g, "");
  
      if (cpf_mod.length > 3 && cpf_mod.length < 7) {
          cpf_mod = cpf_mod.replace(/(\d{3})(\d)/, "$1-$2");
      } else if (cpf_mod.length >= 7 && cpf_mod.length < 10) {
          cpf_mod = cpf_mod.replace(/(\d{3})(\d{3})(\d)/, "$1.$2-$3");
      } else if (cpf_mod.length >= 10) {
          cpf_mod = cpf_mod.replace(/(\d{3})(\d{3})(\d{3})(\d)/, "$1.$2.$3-$4");
      }
      cpf.value = cpf_mod;
      }
      document.addEventListener('DOMContentLoaded', function() {
        var erro = document.getElementById('error-mensagem');
        erro.style.display = 'block';

        setTimeout(function() {
            erro.style.display = 'none';
        }, 3000);
        });

  </script>
</body>
</html>