{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'colab/css/mostrar_colab.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Listar colaboradores</title>

</head>
<body>

  {% include 'navbar.html' %}

    <div class="container">
        <h1 style="z-index: 1;margin-top: 3%;">COLABORADORES</h1><br><br><br>


        <div class="search-form">
          <form action="{% url 'FiltrarColab' %}" method="get">
              <div class="search-container">
                  <input type="text" name="search" placeholder="Digite um nome, CPF,email ou situação:" class="search-input" id="barra_de_pesquisa" required>
                  <input type="submit" value="Pesquisar" class="search-button" id="botao_pesquisa">
              </div>
          </form>
          {% if filtro %}
          <a href="{% url 'VoltarColaboradores'%}"><input type="submit" value="Desfazer filtro" class="search-button2"></a>
          {%endif%}
      </div>
      <br><br>
      <div class="tabela-scroll">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">NOME</th>
              <th scope="col">LOGIN</th>
              <th scope="col">EMAIL</th>
              <th scope="col">SITUAÇÃO</th>
              <th scope="col">AÇÕES</th>
            </tr>
          </thead>
        </table>
        <div class="tabela-corpo">
          <table class="table table-hover">
          <tbody>
              {% for pessoa in colaboradores %}
            <tr>
              {% if pessoa.nome|length > 35 %}
                <td>{{pessoa.nome|slice:":35"}}...</td>
              {%else%}
                <td>{{pessoa.nome}}</td>
              {%endif%}
              <td>{{pessoa.login}}</td>
              {% if pessoa.email|length > 35%}
              <td>{{pessoa.email|slice:":35" }}...</td>
              {%else%}
              <td>{{pessoa.email}}</td>
              {%endif%}
              <td><span
                class="situation-dot {% if pessoa.situacao == 'Ativo'%}active{% else %}inactive{% endif %}">
              </span> {{pessoa.situacao}}
              </td>

              <td><a href="{% url 'EditarColab' id=pessoa.id%}"><img src="https://thumbs2.imgbox.com/ce/70/GXNBIaJY_t.png" style="margin-right: 15px;"/></a>
                <img class="img" src="https://thumbs2.imgbox.com/30/fa/C6pC8uQH_t.png" alt="Imagem" onclick="exibirModalVisu('{{ pessoa.nome }}', '{{ pessoa.login }}', '{{ pessoa.email }}', '{{ pessoa.situacao }}', '{{pessoa.cpf}}')"/></td>
            </tr>
            {%endfor%}

          </tbody>
        </table>
        </div>
      </div>  
      <br><br>
      <button class="adicionar" onclick="exibirModalAdicionar()" style="font-size: 20px;height:5%"> <i class="fas fa-user-plus fa-lg" ></i> Cadastrar</button>
      {% if colaboradores.paginator.num_pages > 1%}

      <nav aria-label="Page navigation" class="paginator">
        <ul class="pagination-justify-content-center">
          {% if colaboradores.has_previous %}
            <a class="page-link" href="?page=1">Primeira</a>
            <a class="page-link" href="?page={{ colaboradores.previous_page_number }}">Anterior</a>
          {% endif %}
      
          {% for num in colaboradores.paginator.page_range %}
            {% if num == colaboradores.number %}
                <span class="page-link"  id="pagina_atual">{{ num }}</span>
              
            {% else %}
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}
      
          {% if colaboradores.has_next %}
            <a class="page-link" href="?page={{ colaboradores.next_page_number }}">>></a>
            <a class="page-link" href="?page={{ colaboradores.paginator.num_pages }}">Última</a>
          {% endif %}
        </ul>
      </nav>
      {%endif%}
    </div>

    <div id="modal-adicionar" class="modal">
      <div class="modal-content" id="modal-content">
        <span class="fechar" onclick="fecharModalAdicionar()">&times;</span>
        
        <form method="post" action="{% url 'AdicionarColab' %}">
          {% csrf_token %}
          <h1 style="color: #2c2c2c;top:5.1%;left:44.5%">Cadastrar</h1>
          <br><br><br>
          <label for="nome" style="margin-top: 5%;">Nome completo:</label><br><br>
          <input type="text" placeholder="Nome:" name="nome" id="nome" value="{{nome}}" required><br><br>

          <label for="cpf">CPF:</label><br><br>
          <input type="text" placeholder="CPF:" name="cpf" id="cpf" oninput="formatarCPF()" value="{{cpf}}" maxlength="14" required><br><br>


          <label for="username">Nome de usuário:</label><br><br>
          <input type="text" placeholder="Usuário:" name="username" id="username" value="{{login}}" required><br><br>

          <label for="email">Email:</label><br><br>
          <input type="email" placeholder="Email:" name="email" id="email" value="{{email}}" required><br><br>

          <label for="senha">Senha:</label><br><br>
          <div class="password-input">
            <input type="password" placeholder="Senha:" class="form-control" name="senha" id="senha" value="{{senha}}" style="flex:1;padding-right: 4%" required>
            <i class="toggle-password fas fa-eye" id="mostrar-senha" style="position: absolute;margin-top:0.8%;left: 70%;" onclick="togglePasswordVisibility('senha')"></i>
          </div><br>
        
          <label for="confirmacao">Confirme a senha:</label><br><br>
          <div class="password-input">
            <input type="password" placeholder="Digite a senha novamente:" class="form-control" name="confirmacao"
              id="confirmacao" value="{{confirmacao}}" style="flex:1;padding-right: 4%" required>
            <i class="toggle-password fas fa-eye" style="position: absolute; left:70%; margin-top: 0.8%;" id="mostrar-confirmacao" onclick="togglePasswordVisibility('confirmacao')"></i>
          </div><br>


          {% if messages %}
                <script>
                  window.onload = function() {
                  exibirModalAdicionar();
                  };
              </script>
              {% for message in messages %}
              <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4>
              {% endfor %}
          {%endif%}
          <br><br><br><br>
          <button class="cadastrar" type="submit">Adicionar colaborador</button>   
      </form><br><br>
      </div>
    </div>

<!-- Exemplo de modal com Bootstrap -->
<div class="modal" id="modalVisualizar" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-content-dados">
          <div class="modal-header">
              <h1 class="modal-title" style="color:#2c2c2c;top:3%;left:46.9%">Dados</h1>
              <span class="fechar" style="position: relative;margin: -2% 0;" onclick="fecharModal_visu()">&times;</span>
          </div>
          <br><br>
          <div class="modal-body">
              <h3 id="nomePessoa"></h3><br>
              <h3 id="loginPessoa"></h3><br>
              <h3 id="emailPessoa"></h3><br>
              <h3 id="cpfPessoa"></h3><br>
              <h3 id="situacaoPessoa"></h3><br>
          </div>

      </div>
  </div>
</div>




    <script>

      function exibirModalVisu(nome, login, email, situacao,cpf) {
          document.getElementById('nomePessoa').textContent = 'Nome: ' + nome;
          document.getElementById('loginPessoa').textContent = 'Login: ' + login;
          document.getElementById('emailPessoa').textContent = 'Email: ' + email;
          document.getElementById('cpfPessoa').textContent = 'CPF: ' + cpf;
          document.getElementById('situacaoPessoa').textContent = 'Situação: ' + situacao;


        var modal = document.getElementById("modalVisualizar");
        modal.style.display = "block";
        var modalCentro = document.getElementById('modal-content-dados')
        modalCentro.classList.add("modal-entrada-dados");
        }

        function fecharModal_visu() {
        var modal = document.getElementById("modalVisualizar");
        modal.style.display = "none";

        }


        function exibirModalAdicionar() {
        var modal = document.getElementById("modal-adicionar");
        modal.style.display = "block";
        var modalCentro = document.getElementById('modal-content')
        modalCentro.classList.add("modal-entrada-dados");

        }

        function fecharModalAdicionar() {
        var modal = document.getElementById("modal-adicionar");
        modal.style.display = "none";
        window.location.href = "{% url 'VoltarColaboradores' %}"
        }
        
        function formatarCPF() {
        var cpf = document.getElementById("cpf");
        var cpf_mod = cpf.value;

        cpf_mod = cpf_mod.replace(/\D/g, "");

        if (cpf_mod.length > 3 && cpf_mod.length < 7) {
            cpf_mod = cpf_mod.replace(/(\d{3})(\d)/, "$1-$2");
        } else if (cpf_mod.length >= 7 && cpf_mod.length < 10) {
            cpf_mod = cpf_mod.replace(/(\d{3})(\d{3})(\d)/, "$1.$2-$3");
        } else if (cpf_mod.length >= 10) {
            cpf_mod = cpf_mod.replace(/(\d{3})(\d{3})(\d{3})(\d)/, "$1.$2.$3-$4");
        }
        cpf.value = cpf_mod;
        }
        document.addEventListener('DOMContentLoaded', function() {
        var erro = document.getElementById('error-mensagem');
        erro.style.display = 'block';

        setTimeout(function() {
            erro.style.display = 'none';
        }, 3000);
        });

        function togglePasswordVisibility(inputId) {
      var input = document.getElementById(inputId);
      var icon = document.querySelector(`#${inputId} + i`);

      if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
      } else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
      }
    }
    </script>
</body>
</html>