{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'colab/css/redefinir_senha.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Redefinir senha</title>

</head>
<body>

  {% include 'navbar.html' %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <a href="{% url 'EditarColab' id=id%}"><i class="fas fa-arrow-left fa-2x" style="position: absolute; top: 24%; left: 21%; color: white;z-index: 2;cursor: pointer;"></i> </a> 
    <div class="container">

        <form method="POST" action="{% url 'RedefinirSenha' id=id %}">
            {% csrf_token %}
            <h1>-Redefinir- <br>  Senha</h1><br><br>

            <label for="senha_antiga">Senha antiga:</label><br>
            <input type="password" placeholder="Digite a senha:" name="senha_antiga" id="senha_antiga" style="padding-right: 4%;"required>
            <i class="toggle-password fas fa-eye" style="position: absolute; left:73.3%; margin-top: 1%;color:black" id="mostrar-senha-antiga" onclick="togglePasswordVisibility('senha_antiga')"></i>
        
            <br><br>
            <label for="senha_nova">Senha nova:</label><br>
            <input type="password" name="senha_nova" placeholder="Digite a nova senha:" id="senha_nova" required><br><br>
            <i class="toggle-password fas fa-eye" style="position: absolute; left:73.3%; margin-top: -4.5%;color:black" id="mostrar-senha-nova" onclick="togglePasswordVisibility('senha_nova')"></i>
            <label for="senha_nova">Confirme a senha nova:</label><br>
            <input type="password" name="confirmacao" placeholder="Confirme a senha nova:" id="confirmacao" required><br><br><br>
            <i class="toggle-password fas fa-eye" style="position: absolute; left:73.3%; margin-top: -6.3%;color:black" id="mostrar-confirmacao" onclick="togglePasswordVisibility('confirmacao')"></i>
           
            
            {% if messages %}
                {% for message in messages %}
                <h4{% if message.tags %} class="error-message" id ="error-mensagem" {% endif %}>{{message}}</h4><br><br>
                {% endfor %}
            {%endif%}
            <button type="submit" placeholder='Enviar'> Salvar</button>
        </form>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var erro = document.getElementById('error-mensagem');
        erro.style.display = 'block';

        setTimeout(function() {
            erro.style.display = 'none';
        }, 3000);
        });
        function togglePasswordVisibility(inputId) {
      var input = document.getElementById(inputId);
      var icon = document.querySelector(`#${inputId} + i`);

      if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
      } else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
      }
    }
        </script>
</body>
</html>
