*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body {
      background-color: #4b7afd;
      margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; 
  }
  h1{
    font-family: serifa bt;
    z-index: 1111;
    top:10%;
    left:40%
  }
  label{
    font-size: 20px;
    font-family:  sans-serif;
  }

    div{
        background-color: rgba(0, 0, 0, 0.363);
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding:80px;
        border-radius:15px;
        color:#fff;
        width: 90%;
        border:1px solid yellow;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);


    }
    input{
        padding:15px;
        border:none;
        padding:13px;
        width: 90%;
        border-radius: 10px;
    }
    button{
        background-color: dodgerblue;
        border:none;
        padding: 15px;
        width: 15%;
        border-radius: 10px;
        cursor:pointer;
        position:absolute;
        top:89%;
        left:80%;
        font-size: 20px;
    }
    button:hover{
        background-color: deepskyblue;
        color:black
    }
    h1{
        top:50%;
        text-align: center;
    }
  
     
      input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    background-color: #ccc;
  }
  .error-message {
    color: #ff0000; 
    font-weight: bold; 
    font-size: 16px; 
    background-color: #ffbdbd;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border:solid 1.5px rgb(255, 1, 1);
  }
  #tipo {
    width: 200px; /* Define a largura do seletor */
    padding: 8px; /* Define o espaçamento interno do seletor */
    border: 1px solid #ccc; /* Define a borda do seletor */
    border-radius: 4px; /* Define o raio de borda do seletor */
    font-size: 16px; /* Define o tamanho da fonte do seletor */
    cursor: pointer;
  }
  
  /* Estilizando as opções */
  #tipo option {
    background-color: #fc0000; /* Define a cor de fundo das opções */
    color: #333; /* Define a cor do texto das opções */
    cursor:pointer
  }
  
  /* Estilizando a opção selecionada */
  #tipo option:checked {
    background-color: #ff1616; /* Define a cor de fundo da opção selecionada */
    font-weight: bold; /* Define o peso da fonte da opção selecionada */
  }
  