*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .container{
      background-color: rgba(0, 0, 0, 0.363);
      padding:50px;
      border-radius:15px;
      width: 90%;
      margin:auto;
      margin-top:2%;
      text-align: center;
      border:1px solid yellow;
      height: 90%;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);


  }
  body {
    background-color: #4b7afd;
    margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh; 
}
table {
  border-collapse: collapse; /* Remove os espaços entre as células */
  width: 100%;
}

th, td {
  border-bottom: 1px solid black; /* Adiciona uma borda inferior de 1px sólida em cada célula */
  padding: 8px; /* Define o espaçamento interno das células */
  border-right: 1px solid black; /* Adiciona uma borda à direita de 1px sólida nas células */

}


td:last-child {
  border-right: none; /* Remove a borda à direita da última coluna para evitar duplicação */
}

tr:last-child td {
  border-bottom: none; /* Remove a borda inferior da última linha para evitar duplicação */
}

tr:last-child td {
  border-bottom: none; /* Remove a borda inferior da última linha para evitar duplicação */
}

/* Adicione mais estilos conforme necessário */

/* Estilo para as células de cabeçalho (th) */
th {
  background-color: darkblue;
  color: white;
  text-align: center;
}

/* Estilo para as linhas pares */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para as linhas ímpares */
tr:nth-child(odd) {
  background-color: #ffffff;
}

    td .situation-dot.active {
    background-color: green;
    border-color: green;
  }


  td .situation-dot.inactive {
    background-color: red;
    border-color: red;
  }
  .situation-dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
  button{
      background-color: dodgerblue;
      border:none;
      padding: 15px;
      width: 90%;
      border-radius: 10px;
      font-weight: bold;
      cursor:pointer;
      color:white;
  }
  .adicionar{
    position: absolute;
    width: 15%;
    left:10.4%;
    top:25.8%;
    font-size: 20px;
    height: 60px;
  }



  h1{
      color:white;
      text-align: center;
  }

.search-form {
    align-items: center; /* Alinhar verticalmente os elementos filhos */
  }

  .search-form input[type="text"] {
    padding: 8px; /* Espaçamento interno do campo de entrada */
    font-size: 14px; /* Tamanho da fonte do campo de entrada */
    border: 1px solid #ccc; /* Borda do campo de entrada */
    border-radius: 4px; /* Borda arredondada do campo de entrada */
    height: 47px;
    position: absolute;
    top:59.5px
  }

  .search-form input[type="submit"] {
    background-color: rgb(11, 133, 255); /* Cor de fundo do botão de envio */
    color: white; /* Cor do texto do botão de envio */
    padding: 8px 16px; /* Espaçamento interno do botão de envio */
    border: none; /* Remover borda do botão de envio */
    border-radius: 4px; /* Borda arredondada do botão de envio */
    cursor: pointer; /* Cursor do mouse em formato de mão */
    font-weight: bold;
    color:white;
    font-size: 20px;
  }

  .search-form input[type="submit"]:hover {
    background-color: rgb(30, 142, 255); /* Cor de fundo do botão de envio */
  }
  .tabela-scroll{
    height: 540px;
    margin-top: 5%;
  }
  div.modal {
  display: none;
  z-index: 999;
  left: 5%;
  top: 56.5%;
  width: 90.1%;
  transform: translate(0%,-54%);
  height: 89%;
  text-align: center;
  background-color: rgba(30, 27, 53, 0.986); 
  position: absolute;
  border-radius: 15px;
  color:azure
}

div.modal-content {
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 15px;
  background-color: #e8ecff;
  color:black;
  height: 96%;
}
.fechar {
  color: #2c2c2c;
  float: right;
  font-size: 28px;
  font-weight: bold;

}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
input{
        padding:15px;
        border:none;
        padding:13px;
        width: 90%;
        border-radius: 10px;
    }

    button:hover{
        background-color: rgb(56, 155, 255);
        color:white
    }
    h1{
        top:50%;
        text-align: center;
    }

    #barra_de_pesquisa{
      width: 50%;
      right:0%;
      position: relative;
    }
    #botao_pesquisa{
      position: absolute;
      right:10.4%;
      width: 15%;
      height: 5%;
      top:25.8%;
      border-radius: 10px;
    }
    .error-message {
    color: #ff0000; 
    font-weight: bold; 
    font-size: 20px; 
    background-color: #ffbdbd;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border:solid 1.5px rgb(255, 1, 1);
    position: absolute;
    left:30%;
    top:79%;
    width: 40%;
    }
    img{
      height: 40px;
      width: 40px;
      cursor:pointer
    }
    .tabela-corpo {
      height: calc(100% - 30px); /* Subtraia a altura do cabeçalho da tabela (40px) */
      overflow-y: scroll;
}
.modal-entrada {
  animation-name: modalEntrada;
  animation-duration: 0.5s;
}
.modal-entrada-dados {
  animation-name: modalEntrada-dados;
  animation-duration: 0.5s;
}
.mostrar-senha{
    position: absolute;
    left:72%;
    top:60.5%;
}
.cadastrar{
  position:relative;
}
.mostrar-senha-confirmacao{
  position: absolute;
    left:72%;
    top:69.9%;
}

    /* Define a fonte agradável */
.paginator {
  font-family: "Arial", sans-serif;
  position: absolute;
  top:95%
}

/* Estiliza as tags <a> e <span> na navegação */
.page-link {
  padding: 5px 10px;
  margin: 3px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: blue;
  background-color: white;
  border-radius: 5px;
}

/* Estilo para o link "Primeira" */
.page-first,
.page-last {
  border-radius: 5px;
}

/* Estilo para o link "Próxima" */
.page-next,
.page-previous {
  border-radius: 5px;
}

/* Estilo para o link da página atual */
#pagina_atual {
  background-color: rgb(219, 219, 219);
  color: blue;
  border-radius: 5px;
  border:1px solid blue
}
.search-button2{
  position: absolute;
  top:31.8%;
  left:77.5%;
  width: 10%;
  background-color: rgb(0, 122, 163);
}

h1{
  font-family: serifa bt;
  z-index: 1111;
  position: absolute;
  top:10%;
  left:40%
}

@keyframes modalEntrada {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes modalEntrada-dados {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
      td:nth-child(1) {
        padding-left: 1%;
    }


      th:nth-child(3), td:nth-child(3) {
              width: 12%;
              text-align: center;
          }
          th:nth-child(4), td:nth-child(4) {
              width: 12%;
              text-align: center;
          }
          th:nth-child(5), td:nth-child(5) {
              width: 12%;
              text-align: center;
          }
  
      th:last-child, td:last-child {
              width: 30%;
              text-align: center;
          }
     
  #tipo {
    width: 200px; /* Define a largura do seletor */
    padding: 8px; /* Define o espaçamento interno do seletor */
    border: 1px solid #ccc; /* Define a borda do seletor */
    border-radius: 4px; /* Define o raio de borda do seletor */
    font-size: 16px; /* Define o tamanho da fonte do seletor */
    cursor: pointer;
  }
  
  /* Estilizando as opções */
  #tipo option {
    background-color: #fc0000; /* Define a cor de fundo das opções */
    color: #333; /* Define a cor do texto das opções */
    cursor:pointer
  }
  
  /* Estilizando a opção selecionada */
  #tipo option:checked {
    background-color: #ff1616; /* Define a cor de fundo da opção selecionada */
    font-weight: bold; /* Define o peso da fonte da opção selecionada */
  }
  

  